<div class="container">
    <div class="start">
        <div class="start-element">
            <div class="start-element-img">
                <img src="../../assets/img/words.png" alt="Bad words" title="Angular list of prohibited words">
            </div>
            <div class="start-element-button">
                <button [routerLink]="['/works/badwords']">Details</button>
            </div>
        </div>

        <div class="start-element">
            <div class="start-element-img">
                <img src="../../assets/img/users.png" alt="User list" title="Angular user list">
            </div>
            <div class="start-element-button">
                <button [routerLink]="['/works/userlist']">Details</button>
            </div>
        </div>

        <div class="start-element">
            <div class="start-element-img">
                <img src="../../assets/img/tasks.png" alt="Task list" title="Angular task list">
            </div>
            <div class="start-element-button">
                <button [routerLink]="['/works/tasklist']">Details</button>
            </div>
        </div>

    </div>
</div>